@tailwind base;
@tailwind components;
@tailwind utilities;

.grow {
  transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
  border-radius: 4rem;
}

.grow:hover {
  transform: scale(1.1);
  background-color: #d1c6ff; 
}

.grow:active {
  background-color: #8f73ff;  
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hidebar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hidebar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}